html {
    scroll-behavior: smooth;
    user-select: none;
}

:root {
    --background-color: #282c34;
    --white: #fff;
    --primary-color: #61dafb;
    --hover-color: #21a1f1;
    --text-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #212529;
    color: var(--white);
    padding: 20px;
}

#title {
    font-size: 3rem;
    margin-bottom: 10px;
    line-height: 1.2;
}

.line1 {
    font-size: 3.5rem;
}

.line2 {
    font-size: 3rem;
    color: var(--primary-color);
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    color: var(--primary-color);
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    border: 2px solid var(--white);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    background-color: var(--white);
    color: var(--primary-color);
}
